# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# Build folders
bin/
obj/

# Backup files
*.zip
*.bak
*.swp
*.tmp

# OS files
.DS_Store
Thumbs.db
nul

# User specific
*.userprefs
*.pidb
bin/
obj/
